/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap');
/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0%;
}

 /* ------------------
 header and some basic css styles 
 ----------------------*/
.header{
    background-color:blueviolet;
}

h1{
    font-size: 40px;
    line-height: 25%;
    margin-bottom: 10%;
}

.head{
    margin-top: 10%;
   
}
.flex{
    display: flex;
    text-align: center;
    justify-content: space-evenly

}

.half-width{
    width: 40%;
    padding: 2%;
}

.half-width img{
    width: 100%;   
}
.link-btn{
background-image:linear-gradient(rgba(96, 230, 235, 0.726) , rgb(90, 82, 201));
text-decoration: none;
padding: 20px  40px;
color: whitesmoke;
font-weight: 800;
display: inline-block;
transition: padding 2s, border-radius 2s ease-in,color 2s;


}
.link-btn:hover{
   padding: 30px 40px;
   border-radius:30px;;
   color:black;
}

/*-----------------------
 header section styles end 
 ------------------------- */
 .container{
    background-color: #ffff;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
    margin-bottom: 70px;
   
}


 .players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    text-align: center;
    align-items: center;
   
}

.player{
    width: 350px;
    height: 490px;
    margin: 15px;
    padding: 20px;
    background-color:#FFFFFF;
    box-shadow:20px 10px 40px gray;
}

.players .banner img{
  width: 300px;
  height: 240px;
  padding: 15px;
  text-align: center;
  margin: auto;
 
}

.player-title{
font-style: bold;
font-size: 28px;
}

.player-info{
    font-size: 16px;
    font-weight: 200;
}

/* footer-section */
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.logo a img{
    height: 80px;
    padding: 2%;
}
.fab{
   margin-right: 15px;
}

.copy-right{
    font-weight: 400;
    font: 25px;
    margin-bottom: 100px;
}