/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap');
/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0%;
}

 /* ------------------
 header and some basic css styles 


 
 ----------------------*/
.header{
    background-color:blueviolet;
}



.head{
    margin: 10%;
   
}
.flex{
    display: flex;
    text-align: center;
  

}

.half-width{
    width: 40%;
    padding: 2%;
}

.half-width img{
    width: 100%;   
}
.link-btn{
background-image:linear-gradient(rgba(96, 230, 235, 0.726) , rgb(90, 82, 201));
text-decoration: none;
padding: 20px  40px;
color: whitesmoke;
font-weight: 800;
display: inline-block;
transition: padding 2s, border-radius 2s ease-in,color 2s;


}
.link-btn:hover{
   padding: 30px 40px;
   border-radius:30px;;
   color:black;
}

/*-----------------------
 header section styles end 
 ------------------------- */


 /*--------------------------- -------
 players card and detail styles start
 -------------------------------- ---*/
 

 .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left:70px;
    margin-right: 50px;
    grid-row-gap: 30px;
    grid-column-gap:30px;
   
}

.player{
    width: 330px;
    height: 470px;
    margin: 10px;
    padding: 15px;
    background-color:#FFFFFF;
    box-shadow:20px 10px 40px gray;
}

.players .banner img{
  width: 280px;
  height: 220px;
  padding: 10px;
  text-align: center;
  margin: auto;
 
}

.player-title{
font-style: bold;
font-size: 28px;
}

.player-info{
    font-size: 16px;
    font-weight: 200;
}

/*--------------------------- -------
 players card and detail styles start
 -------------------------------- ---*/

/* footer-section */
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.logo a img{
    height: 70px;
    padding: 2%;
}
.fab{
   margin:auto;
}

.copy-right{
    font-weight: 400;
    font: 25px;
    margin-bottom: 80px;
}


/* mobile responsive section  */
/* media Quaries */

/* mobile-device */
@media only screen and (max-width:680px){

    .h1{
        display: block;
    }
    .flex{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

   
    .players{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: auto;
    }


}
